<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumTest" verbose="1">



    <test name="seleniumTest">
        <classes>
            <class name="seleniumTest" >
            <methods>
                <include name="logIn"/>
                <include name="checkingFilters"/>
                <include name="addItem"/>
                <include name="removeItem"/>
                <include name="fieldValidationCreateAnAccount"/>
            </methods>
            </class>
        </classes>
    </test>

</suite>